.header {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #ccc;
}

.header__inner {
    margin: 0 auto;
    padding: 20px 15px;
    max-width: 1230px;
}

.header__logo {
    color: #8f7f76;
    font-family: serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 30px;
}


