.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
    color: #8A7676;
}

.contact-form__heading {
    margin-bottom: 40px;
    text-align: center;
    font-family: serif;
    font-size: 20px;
}

.form {
    margin: 0 auto;
    width: 80%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.form__group-title {
    width: 170px;
    /* ラベルの固定幅 */
    font-weight: bold;
    margin-right: 100px;
}

.form__label--item {
    font-weight: 400;
}

.form__label--required {
    color: red;
    margin-left: 2px;
}

.form__group-content {
    flex: 1;
        /* 残りの幅を占める */
        display: flex;
        flex-wrap: wrap;
        /* 狭い画面では縦に並ぶ */
        gap: 10px;
        accent-color: #000;
            /* 黒に設定 */
}

.form__input--name {
    display: flex;
        gap: 30px;
        /* 姓と名の間のスペース */
        flex: 1;
        /* 親の幅に合わせる */
}

.form__input--name input {
    flex: 1;
    /* 均等幅 */
}


.form_error {
    color: #ff0000;
    /* 赤文字 */
    font-size: 12px;
    margin-top: 4px;
    width: 100%;
    /* 横幅いっぱい */
}

/* 親コンテナをflexで横並び */
.form__input--text {
    display: flex;
    width: 100%;
    align-items: center;
    /* 高さを中央揃え */
    gap: 5px;
    /* ハイフンと入力欄の間隔 */
}


/* 全ての入力欄共通 */
.form__input--text input,
.form__input--name input,
.form__input--select select,
.form__input--textarea textarea {
    border-radius: 0px;
        /* 角丸 */
    width: 100%;
    /* 横幅を揃える */
    padding: 10px;
    /* 高さのベース */
    font-size: 16px;
    /* 文字サイズ */
    font-weight: 400;
    /* 太さ（normal） */
    border: 1px solid #ddd;
    /* 枠線の太さと色 */
    box-sizing: border-box;
    /* 幅にpaddingを含める */
    background-color: #f5f5f5;
    /* 薄いグレー背景 */
    color: #999;
    resize: none;
}

.form__input--select {
    width: 50%;
    /* 親幅いっぱいに広げる */
    position: relative;
    /* 擬似矢印用の基準位置 */
    display: inline-block;
    /* 幅の設定が効くように */
}

.form__input--select select {
    -webkit-appearance: none;
    /* Chrome, Safari */
    -moz-appearance: none;
    /* Firefox */
    appearance: none;
    /* その他ブラウザ */
}

.form__input--select::after {
    content: "▼";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: rgba(0, 0, 0, 0.4);
    /* 矢印の色 */
    font-size: 12px;
}

.form__input--textarea {
    width: 100%;
}

.form__button {
    margin-top: 30px;
}

.form__button-submit {
    padding: 10px;
    width: 15%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background: #8A7676;
    color: #fff;
    cursor: pointer;
}








