.login-form__content {
    margin: 80px auto;
    padding: 60px 40px;
    max-width: 600px;
    border: 1px solid #ddd;
    border-radius: 0;
    background-color: #fff;
}

.login-form__heading {
    margin-bottom: 20px;
    text-align: center;
    color: #8f7f76;
    font-family: serif;
}

body {
    background-color: #f0edea;
}


.form {
    margin: 0 auto;
    width: 25%;
    text-align: center;
}

.form__group {
    margin-bottom: 20px;
}

.form__group-title {
    text-align: left;
    color: #8f7f76;
}

.form__error {
    height: 20px;
    color: #ff0000;
    text-align: left;
}

.form__input--text input {
    padding: 10px;
    width: 100%;
    height: 40px;
    background-color: #f0e9e5;
    border: 1px solid #ddd;
    border-radius: 0px;

    appearance: none;
}

.form__button {
    margin-top: 20px;
}

.form__button-submit {
    padding: 10px;
    width: 60%;
    height: 50px;
    border: none;
    border-radius: 0px;
    background: #8f7f76;
    color: #fff;
    cursor: pointer;
}

.register__link {
position: fixed;
    /* 画面基準 */
    top: 20px;
    /* 上から */
    right: 20px;/* 右から */
}

.register__button-submit {
    display: inline-block;
    padding: 10px 20px;

    border: 1px solid #8f7f76;
    /* 四角 */
    background-color: #efe3dc;
    color: #8f7f76;
    text-decoration: none;

    font-size: 14px;
}

.register__button-submit:hover {
    background-color: #000;
    color: #fff;
}

